apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  {{- with .Values.service.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
  {{- end }}
spec:
  selector:
    app: {{ .Release.Name }}
{{- if (or (eq .Values.service.type "ClusterIP") (empty .Values.service.type)) }}
  type: ClusterIP
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
{{- else if eq .Values.service.type "LoadBalancer" }}
  type: {{ .Values.service.type }}
  {{- if .Values.service.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
  {{- end }}
  {{- if .Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
{{ toYaml .Values.service.loadBalancerSourceRanges | indent 4 }}
  {{- end }}
{{- else }}
  type: {{ .Values.service.type }}
{{- end }}
  ports:
  - port: {{ .Values.containers.port }}
    protocol: TCP
    targetPort: {{ .Values.containers.targetport }}
    name: http
  {{- if eq .Values.service.type "NodePort" }}
    nodePort:  {{ .Values.containers.nodePort }}
  {{- end }}
